body {
    color: rgb(249, 248, 248);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(249, 250, 251);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(2, 122, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}